.box-user{
    width: 100%;
    display: flex;
    background: cornflowerblue;
    justify-content: space-between;
    align-items: center;
    margin-top:5px;
}
.user-main p{
    margin-top: 4px;
    margin-bottom: 4px;
}
.user-btn button{
    width: 60px;
    height: 20px;
    background: #47e04a;
    border: none;
    border-radius:10px ;
    margin-right: 10px;
}